@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@keyframes borderAnim {
    from {
        border-color: transparent;
    }
    to {
        border-color: rgba(255, 255, 255, 0.40);
    }
}

.border-animate {
    transition: border-color 0.5s ease-in-out;
    border: 2px solid transparent; /* Transparent border by default */
}

.border-animate:hover {
    animation: borderAnim 0.5s forwards;
}
