@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@keyframes borderAnim {
    from {
        border-color: transparent;
    }
    to {
        border-color: rgba(255, 255, 255, 0.40);
    }
}

.border-animate {
    transition: border-color 0.5s ease-in-out;
    border: 2px solid transparent; /* Transparent border by default */
}

.border-animate:hover {
    animation: borderAnim 0.5s forwards;
}

@keyframes zoomFadeOut {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }
}

.animate-zoom-fade-out {
    animation: zoomFadeOut 3s infinite;
}

@keyframes pulseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.animate-pulse {
    animation: pulseAnimation 1.5s infinite;
}


.bg-azoom {
    width: 100%;
}

.bg-azoom:hover {
    animation: zoom-in 10s infinite;
}

@keyframes zoom-in {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
